/* navbar */
.navbar-custom {
    padding: 30px;
    justify-content: flex-end;
    margin: 60px 0px 50px 0px;
    background-color: rgba(128, 128, 128, .1);
    font-family: serif;
}

.nav-list {
    justify-content: center;
    
}

.custom-navlink {
    color: white;
    margin: 20px;
    font-size: 20px;
    padding: 30px;
}

.custom-navlink:hover {

    border-bottom: 1px solid red;
    text-decoration: none;
}

body {
    background-image: url("bgtwo.jpg");
    font-family: fantasy;
}
.profpic
{
    border-radius: 100%;
    opacity: .8;
    float: right;
    top: 0; 
    left: 0;
    position: relative;
    margin:    -180px 0px 0px 0px;
}
.footer span {
    color: white;
    margin: 0px 0px 0px 0px;
}

.footer {
    bottom: 0;
    position: fixed;
    left: 0;
    width: 100%;
    color: white;
    background-color: rgba(128, 128, 128, .3);
    font-family: serif;
}
@media not all and (min-width: 750px) {
    .navbar-custom {
        text-align: center;
        margin: 10px 0px 0px 0px;
        background-color: rgba(128, 128, 128, .1);
        padding:10px;
        font-family: serif;
    }

    .custom-navlink {
        margin: 5px;
        padding: 2px;
        font-size: 10px;
    }
    .footer {
        bottom: 0;
        position: fixed;
        left: 0;
        margin: 0px;
        width: 100%;
        color: white;
        
    }

}
.incomplete-text{
    font-size: 12px;
}

.socialm i{
    padding: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px; 
}