.name-header{
 margin-top: 20px;
	text-align: center;
}

.row h5{
	color: red;
	text-align: center;
}
p{
	color: white;
	margin: 0px;
	padding: 0px;

}
i{
	color: white;
}
h1{
	color: red;
}
.socialprof{
	justify-content: center;
	text-align: center;
	margin: auto;
	padding: auto;
}

.footer{

	position: relative;
	width: auto;
}